
body {
  background-color: rgb(172, 243, 243);
  border: 10px solid rgb(223, 60, 11);    
  font-family: verdana
}


h1 {
  color: rgb(226, 62, 62);
  text-align: center;
  font-size-adjust: 30px;
}

p {
  font-family: verdana;
  font-size: 20px;
}


h1 {
  background-color: rgb(39, 177, 177);
}


p {
  background-color: rgb(39, 177, 177);
}


.titulos{
  font-size: 15px;
  color: rgb(0, 113, 241);
  margin-left: 1px ;  
  width: 110%;
  margin-left: 1px;
  border: 4px solid rgb(212, 67, 62);
  
  
}

.textos{  
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 110%;
  margin-left: 1px;
  border: 4px solid rgb(212, 67, 62);
  width: 1500px;
}

.body{
  border: 30px solidr rgb(212, 67, 62);
  padding: 100px;
  width: 1363px;
  height: 1500 px;
  text-align: justify;
  font-size: 20px;

}


